<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Song</title>
  </head>
  <body>
    <form action="/songs/<%= @song.slug %>" method="post">
      
    </form>
  </body>
</html>
